---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="FnnVW26R1wpuM5XZEucnYRmS2", oauth_nonce="214ebf9dedb3b2af69b6aed7cdd55077",
        oauth_signature="Rs7xsT1T%2Fm9zBaC9s373svz6vcw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450310509", oauth_token="2249777102-xpWQVegn1KxkMx5M5OL0tLX2zV06nJTMGNSFWOr",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 00:01:51 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - cb82933bf31bdc9ccb6b3d1cd1d7ba53
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450311410'
      X-Response-Time:
      - '87'
      X-Transaction:
      - afb96ad4e27544e5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 00:01:01 +0000 2015","id":677277279857192960,"id_str":"677277279857192960","text":"''Star
        Wars'' meets Toronto cityscapes, in stunning photos by @thomasdagg: https:\/\/t.co\/sPB9oLNXz3
        https:\/\/t.co\/KoNLn0e3hv","source":"\u003ca href=\"http:\/\/sproutsocial.com\"
        rel=\"nofollow\"\u003eSprout Social\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":16439471,"id_str":"16439471","name":"The
        Week","screen_name":"TheWeek","location":"New York, NY","description":"All
        you need to know about everything that matters.","url":"http:\/\/t.co\/H9GXeIG9A4","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/H9GXeIG9A4","expanded_url":"http:\/\/www.TheWeek.com","display_url":"TheWeek.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":104911,"friends_count":1479,"listed_count":3771,"created_at":"Wed
        Sep 24 19:33:22 +0000 2008","favourites_count":1448,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":51447,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/94258953\/twitter_skin.gif","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/94258953\/twitter_skin.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2415551941\/7xovi0piho9p41pq81zr_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2415551941\/7xovi0piho9p41pq81zr_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/16439471\/1447258793","profile_link_color":"0084B4","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"thomasdagg","name":"Thomas
        Dagg","id":38609859,"id_str":"38609859","indices":[60,71]}],"urls":[{"url":"https:\/\/t.co\/sPB9oLNXz3","expanded_url":"http:\/\/bit.ly\/1Qsd1hP","display_url":"bit.ly\/1Qsd1hP","indices":[73,96]}],"media":[{"id":677173347793244160,"id_str":"677173347793244160","indices":[97,120],"media_url":"http:\/\/pbs.twimg.com\/media\/CWXNkm6UEAAOYRV.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CWXNkm6UEAAOYRV.jpg","url":"https:\/\/t.co\/KoNLn0e3hv","display_url":"pic.twitter.com\/KoNLn0e3hv","expanded_url":"http:\/\/twitter.com\/TheWeek\/status\/677173347877187584\/photo\/1","type":"photo","sizes":{"large":{"w":985,"h":657,"resize":"fit"},"small":{"w":340,"h":226,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":400,"resize":"fit"}},"source_status_id":677173347877187584,"source_status_id_str":"677173347877187584","source_user_id":16439471,"source_user_id_str":"16439471"}]},"extended_entities":{"media":[{"id":677173347793244160,"id_str":"677173347793244160","indices":[97,120],"media_url":"http:\/\/pbs.twimg.com\/media\/CWXNkm6UEAAOYRV.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CWXNkm6UEAAOYRV.jpg","url":"https:\/\/t.co\/KoNLn0e3hv","display_url":"pic.twitter.com\/KoNLn0e3hv","expanded_url":"http:\/\/twitter.com\/TheWeek\/status\/677173347877187584\/photo\/1","type":"photo","sizes":{"large":{"w":985,"h":657,"resize":"fit"},"small":{"w":340,"h":226,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":400,"resize":"fit"}},"source_status_id":677173347877187584,"source_status_id_str":"677173347877187584","source_user_id":16439471,"source_user_id_str":"16439471"}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        Dec 17 00:00:07 +0000 2015","id":677277052542705664,"id_str":"677277052542705664","text":"See
        some of the best prefab homes in Australia: https:\/\/t.co\/YpcioxWvX9 https:\/\/t.co\/1SfAcpBxA7","source":"\u003ca
        href=\"http:\/\/sproutsocial.com\" rel=\"nofollow\"\u003eSprout Social\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"i[...]
[...]
