<div class="container">
  <img class="banner-pic img-responsive" src="<%= @user.banner_pic %>" />
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <%= render partial: "dashboard/profile" %>
    <%= render partial: "dashboard/user_timeline" %>
  </div>
</div>
