<div class="container">
  <div class="row">
    <%= form_for :tweet, url: tweets_path, class: "input-group" do |f| %>
      <div class="col-md-8 col-md-offset-2">
        <label for="tweet[text]">New Tweet</label>
        <%= f.text_area :text, class: "form-control", placeholder: "What's happening?" %>
        <br>
        <%= f.submit "Submit", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
